# Pandas i szeregi czasowe

In [2]:
import pandas as pd

# Funkcja read_csv przyjmuje bardzo duÅ¼o argumentÃ³w, dziÄ™ki czemu moÅ¼na bardzo precyzjnie okreÅ›liÄ‡ jak dokÅ‚adnie ma siÄ™ zachowaÄ‡ i jak ma Pandas ma rozumieÄ‡ nasze dane.
# W szczegÃ³lnoÅ›ci chcemy, aby kolumna `date(y-m-d)` zostaÅ‚a zinterpretowana jako data, stÄ…d:

df = pd.read_csv(
    'data/forex_usd_data.csv',
    parse_dates=['date(y-m-d)'],  # âœ… lista wszystkich kolumn, ktÃ³re powinny zostaÄ‡ potraktowane jako daty
) 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3930 entries, 0 to 3929
Data columns (total 54 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date(y-m-d)            3930 non-null   datetime64[ns]
 1   Argentine Peso         3930 non-null   float64
 2   Australian Dollar      3930 non-null   float64
 3   Bahraini Dinar         3930 non-null   float64
 4   Botswana Pula          3930 non-null   float64
 5   Brazilian Real         3930 non-null   float64
 6   Bruneian Dollar        3930 non-null   float64
 7   Bulgarian Lev          3930 non-null   float64
 8   Canadian Dollar        3930 non-null   float64
 9   Chilean Peso           3930 non-null   float64
 10  Chinese Yuan Renminbi  3930 non-null   float64
 11  Colombian Peso         3930 non-null   float64
 12  Croatian Kuna          3930 non-null   float64
 13  Czech Koruna           3930 non-null   float64
 14  Danish Krone           3930 non-null   float64
 15  Euro                   3930 non-null   float64
 16  Hong Kong Dollar       3930 non-null   float64
 17  Hungarian Forint       3930 non-null   float64
 18  Icelandic Krona        3930 non-null   float64
 19  Indian Rupee           3930 non-null   float64
 20  Indonesian Rupiah      3930 non-null   float64
 21  Iranian Rial           3930 non-null   float64
 22  Israeli Shekel         3930 non-null   float64
 23  Japanese Yen           3930 non-null   float64
 24  Kazakhstani Tenge      3930 non-null   float64
 25  South Korean Won       3930 non-null   float64
 26  Kuwaiti Dinar          3930 non-null   float64
 27  Libyan Dinar           3930 non-null   float64
 28  Malaysian Ringgit      3930 non-null   float64
 29  Mauritian Rupee        3930 non-null   float64
 30  Mexican Peso           3930 non-null   float64
 31  Nepalese Rupee         3930 non-null   float64
 32  New Zealand Dollar     3930 non-null   float64
 33  Norwegian Krone        3930 non-null   float64
 34  Omani Rial             3930 non-null   float64
 35  Pakistani Rupee        3930 non-null   float64
 36  Philippine Peso        3930 non-null   float64
 37  Polish Zloty           3930 non-null   float64
 38  Qatari Riyal           3930 non-null   float64
 39  Romanian New Leu       3930 non-null   float64
 40  Russian Ruble          3930 non-null   float64
 41  Saudi Arabian Riyal    3930 non-null   float64
 42  Singapore Dollar       3930 non-null   float64
 43  South African Rand     3930 non-null   float64
 44  Sri Lankan Rupee       3930 non-null   float64
 45  Swedish Krona          3930 non-null   float64
 46  Swiss Franc            3930 non-null   float64
 47  Taiwan New Dollar      3930 non-null   float64
 48  Thai Baht              3930 non-null   float64
 49  Trinidadian Dollar     3930 non-null   float64
 50  Turkish Lira           3930 non-null   float64
 51  Emirati Dirham         3930 non-null   float64
 52  British Pound          3930 non-null   float64
 53  Venezuelan Bolivar     3928 non-null   float64
dtypes: datetime64[ns](1), float64(53)
memory usage: 1.6 MB

In [2]:
# Chcemy teÅ¼, Å¼eby potraktowaÄ‡ wÅ‚aÅ›nie tÄ™ kolumnÄ™ z datÄ… jako index, czyli specjalnÄ… kolumnÄ™:

df = pd.read_csv(
    'data/forex_usd_data.csv',
    parse_dates=['date(y-m-d)'],
    index_col='date(y-m-d)',  # âœ… ok
) 
df.info()

# Teraz juÅ¼ nie ma kolumny `date(y-m-d)` - staÅ‚a siÄ™ indexem.

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3930 entries, 2011-01-01 to 2021-10-04
Data columns (total 53 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Argentine Peso         3930 non-null   float64
 1   Australian Dollar      3930 non-null   float64
 2   Bahraini Dinar         3930 non-null   float64
 3   Botswana Pula          3930 non-null   float64
 4   Brazilian Real         3930 non-null   float64
 5   Bruneian Dollar        3930 non-null   float64
 6   Bulgarian Lev          3930 non-null   float64
 7   Canadian Dollar        3930 non-null   float64
 8   Chilean Peso           3930 non-null   float64
 9   Chinese Yuan Renminbi  3930 non-null   float64
 10  Colombian Peso         3930 non-null   float64
 11  Croatian Kuna          3930 non-null   float64
 12  Czech Koruna           3930 non-null   float64
 13  Danish Krone           3930 non-null   float64
 14  Euro                   3930 non-null   float64
 15  Hong Kong Dollar       3930 non-null   float64
 16  Hungarian Forint       3930 non-null   float64
 17  Icelandic Krona        3930 non-null   float64
 18  Indian Rupee           3930 non-null   float64
 19  Indonesian Rupiah      3930 non-null   float64
 20  Iranian Rial           3930 non-null   float64
 21  Israeli Shekel         3930 non-null   float64
 22  Japanese Yen           3930 non-null   float64
 23  Kazakhstani Tenge      3930 non-null   float64
 24  South Korean Won       3930 non-null   float64
 25  Kuwaiti Dinar          3930 non-null   float64
 26  Libyan Dinar           3930 non-null   float64
 27  Malaysian Ringgit      3930 non-null   float64
 28  Mauritian Rupee        3930 non-null   float64
 29  Mexican Peso           3930 non-null   float64
 30  Nepalese Rupee         3930 non-null   float64
 31  New Zealand Dollar     3930 non-null   float64
 32  Norwegian Krone        3930 non-null   float64
 33  Omani Rial             3930 non-null   float64
 34  Pakistani Rupee        3930 non-null   float64
 35  Philippine Peso        3930 non-null   float64
 36  Polish Zloty           3930 non-null   float64
 37  Qatari Riyal           3930 non-null   float64
 38  Romanian New Leu       3930 non-null   float64
 39  Russian Ruble          3930 non-null   float64
 40  Saudi Arabian Riyal    3930 non-null   float64
 41  Singapore Dollar       3930 non-null   float64
 42  South African Rand     3930 non-null   float64
 43  Sri Lankan Rupee       3930 non-null   float64
 44  Swedish Krona          3930 non-null   float64
 45  Swiss Franc            3930 non-null   float64
 46  Taiwan New Dollar      3930 non-null   float64
 47  Thai Baht              3930 non-null   float64
 48  Trinidadian Dollar     3930 non-null   float64
 49  Turkish Lira           3930 non-null   float64
 50  Emirati Dirham         3930 non-null   float64
 51  British Pound          3930 non-null   float64
 52  Venezuelan Bolivar     3928 non-null   float64
dtypes: float64(53)
memory usage: 1.6 MB

# ðŸ”´ Ä†wiczenie

W poprzednim Ä‡wiczeniu:

1. Upewnij siÄ™, Å¼e Pandas rozumie, Å¼e w kolumnie DATE ma do czynienia z datami. 
2. Daty mogÄ… byÄ‡ w formacie amerykaÅ„skim YYYY-DD-MM lub europejskim YYYY-MM-DD. Jak Pandas zinterpretowaÅ‚ daty? JeÅ›li Åºle, to jak moÅ¼esz to poprawiÄ‡? Poszukaj w dokumentacji!
3. KtÃ³ra kolumna najlepiej nadaje siÄ™ na index?